* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* EXPLAIN: *: apply rules to every element on the page.
               margin, padding reset to start with a clean slate, add your own margin padding later.
               border box: ensure width is consistently. */


/* BODY */
body {
  /*background-image add later*/
  background: url("../resources/p3.jpeg") no-repeat center fixed;
  background-size: cover;
  background-color: #ffffff;  /* In case bg photo doesn't load */
  font-family: 'Inter', sans-serif;  /* In case Inter font doens't load */
  font-weight: 400;  /* 400: normal 700: bold */
  font-size: 16px;
  line-height: 1.8;  /* Spacing between lines, meaning 16px x 1.8 */
  color: #222;
}

.page-header {
    color:#171644;
    text-align: center;
}

/* CONTAINER LAYOUT */
.container {
  max-width: 1000px; /* Content box size */
  margin: 32px auto;  /* Center horizontally, space top + bottom */
  padding: 30px;  /* Space inside box */
  background: hsla(0, 0%, 100%, 0.90);  /* Make it transparent */
  border-radius: 10px;  /* Round corner */
}
main, .page-header, .site-footer, section, article {
  margin-top:32px;  /* Space above section */
}
.photos h2, .showreel h2 {
  text-align: center;
}
.intro h2 {
  text-align: center;
}

ol, ul {
  padding-left: 20px; 
  margin-left: 0;
}
#quote {
  text-align: center;
  margin: 24px 0;
  font-weight: 600;
  color:#2f2f2f
}

/* NAVIGATION */
.site-nav {
  display: flex;  /* Lay links in a row */
  justify-content: center;  /* Center links */
  gap: 20px;  /* Space between links */
  padding: 12px 16px;  /* Inner spacing */
  background: #292857;
}
.site-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 2px;
}
.site-nav a:hover {
  color: #ffffff;
}
.site-nav a[aria-current="page"] {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* LINKS */
a {
  color:#133a7e;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #0b72d9;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* MEDIA */
.index-gif, .faq-gif, .db-gif {
  display: block;
  margin: 24px auto 24px;
}
.profile-photos {
  display:block;
  margin: 24px auto 24px;
  max-width: 60%;
}
figure {
  margin: 16px 0;
  text-align: center;
}
img, video {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
figcaption {
  font-size: 14px;
  color: #666;
  margin: 0 auto 24px;
}

/* DASHBOARD */

.year-1 {
  text-align: center;
  margin-bottom: 24px;
}
.study-table { 
  width:100%; 
  border-collapse:collapse; 
  background:#fff; 
  text-align: center; 
  margin-bottom: 32px;
}
.study-table th, .study-table td { 
  padding:10px 12px; 
  border: 1px solid #ccc;
}
.study-table thead th { 
  background:hsla(235, 50%, 25%, 0.9);
  color:#ffffff; 
  font-weight:600;
}

/* status colors (change row class as progress later on) */
tr.table-content td { 
  color:#666; 
}
tr.pass    td { 
  color:#157347; 
} 
tr.retake  td { 
  color:#b02a37;
} 

/* BLOG */
.blog-feed {
  display: flex;
  flex-direction: column;
  gap: 24px; /* space between post*/
}

.blog-feed h2 {
  text-align: center;
  margin-top: 12px;
}

.post-thumb {
  max-width: 50%;
  display: block;
  margin: auto ;
  border-radius: 6px;
}

.read-more:hover {
  color: #0f49a7;
  text-decoration: underline;
}

/* FOOTER */
.site-footer {
  border-top: 1px solid #939393;
  color: #2c2c2c;
  font-size: 14px;
  padding: 16px 0 32px;
}

.footer-content {
  display: flex;                 /* Put credit + socials in one row */
  justify-content: space-around; /* Push them to opposite sides */
  align-items: center;           /* Align vertically */
  flex-wrap: wrap;             /* Allow wrapping on smaller screens */
}

.credit {
  text-align: center;
}

.socials {
  display: flex;
  align-items: center;
  text-align: left;
}

.socials-text{
  text-align: center;
  margin-left: 16px;
}

.hz-logo {
max-width: 250px;
}
